
form{
    background-color: black;
  }

input[type=text], input[type=password] {
    width: 75%;
    padding: 0.5% 1%;
    margin: 2.5% 0;
    border: 1% solid #ccc;
    box-sizing: border-box;
  }
 
button {
    background-color: #bccad6;
    color: white;
    padding: 1% 2%;
    margin: 1%;
    border: none;
    cursor: pointer;
    width: 25%;
  }
  
button:hover {
    opacity: 0.8;
  }

.cancelbtn {
    width: auto;
    padding: 1% 1%;
    background-color: #f44336;
  }
  
.container {
    padding: 5% 0.5% 5% 0.5%;
    width:50%;
    height:50%;
    margin: 2.5% 2.5% 2.5% 22.5%;
  }
  
.checkbox {
    color: #bccad6;
    margin-top: 25%;
}

span.psw {
    float: right;
    padding-top: 2.5%;
  }

span.checkbox {
    float: right;
    padding-top: 2.5%;
  }