form{
    background-color: black;
    padding: 2.5%;
    margin:0%;
  }

input[type=text], input[type=password] {
    width: 75%;
    padding: 1% 1.5%;
    margin: 2.5% 2.5%;
    border: 1% solid #ccc;
    box-sizing: border-box;
  }
 
button {
    background-color: #bccad6;
    color: white;
    padding: 1% 2%;
    margin: 1%;
    border: none;
    cursor: pointer;
    width: 25%;
  }
  
button:hover , a:hover{
    opacity: 0.8;
  }

.container {
    padding: 2.5% 0.5% .55% 0.5%;
    width:50%;
    height:50%;
    margin: 2.5% 2.5% 2.5% 25%;
  }
  
.checkbox {
    color: #bccad6;
    margin-bottom: 1%;
}

span.checkbox {
    float: right;
    padding-top: 2.5%;
  }