@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: #1a202c;
	margin: 20px;
}

* {
    box-sizing: border-box;
  }

form {
    max-width: 400px;
    margin: 35px auto;
    border-radius: 10px;
    padding: 10px 15px;
    background: rgb(0, 0, 0);
}

label {
display: block;
margin-bottom: 10px;
margin-top: 15px;
color: rgb(255, 255, 255);
font-size: 25px;
}

label.light {
    font-weight: 300;
    display: inline;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    display: block;
    margin-bottom: 8px;
    color: aliceblue;
    align-self: center;
    text-align: center;
    font-size: 25px;
}

 button {
    padding: 25px 40px;
    color: whitesmoke;
    background-color: rgb(36, 159, 235);
    font-size: 25px;
    margin: 30px 0px 0px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
  }


input {
    background-color: #ff7a59;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 25px;
}

::placeholder {
    color: black;
    font-size: 20px;
    text-align: left;

}

.loginForm {
    border: 1px coral;
}