html,body{background-color:black;font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}
html{overflow: hidden;}

.container{background-color:#df5d54}
.center {
    background-color:#df5d54;
    margin: auto;
    width: 70%;
    border: 3px solid rgb(193, 88, 88);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: left;
    height: 300px;
  }

.g-signin2{
    margin-left:100px;
    margin-top:20px;
}

.data{
    display:none;
}
